.container
    =image_tag('elemental-machines-logo.png', class: "background")
    %h1 Welcome to Elemental Camera Dashboard
    
    
    %h4 Click below for Camera Adjustment:
    =link_to "Snapshot", new_ping_path, class: "btn btn-primary"