.container
    =image_tag('elemental-machines-logo.png', class: "background")
    %h1 Elemental Camera Adjustment
    %p Click below to create snap shot
    
    =link_to "Snapshot", root_path, class: "btn btn-primary"